// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

//colors

$fuchsia: rgba(137, 2, 62, 1);
$navy: rgba(31, 32, 65, 1);
$white: rgba(251, 255, 254, 1);
$charcoal: rgba(109, 103, 110, 1);
$black: rgba(27, 27, 30, 1);
