.contact-page {

    .contact-img {
        margin: 0 0 80px;
        img {
            width: 100%;
        }
    }

    .contact-form {
        display: block;
        margin: 0 auto;
        width: 59%;
    }
}