/*typed effect*/
.navbar-brand {
 span {
     display: none;
     @media screen and (min-width: 768px) {
        display: inline-block;
    }
 }
}
.typed-cursor{
    opacity: 1;
    animation: none;
    
    @media screen and (min-width: 768px) {
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.boxes {
  display: flex;
  @media screen and (max-width: 768px) {
     display: block;
  }
}


/*bootstrap override*/
.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    li a {
        &:last-child {
            padding-right: 0;
        }
    }
}

.navbar-toggle .icon-bar {
    border: 1px solid $black;
}