
.social-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px auto;
  width: 60%;

  .social-icon {
    width: 50px;
    height: 55px;
    margin: 10px 0;

    @media screen and (min-width: 768px) {
        margin: 0;
    }
  }
}
